<%- include ('partials/head.ejs') %>

<body>

    <%- include ('partials/header.ejs') %>

    <section id="home">
        <!-- inicio HOME -->
        <div class="container">
            <div class="row">
                <div class="col-md-12">

                    <div class="titulo-home">
                        <h2>Cardápio</h2>

                    </div>

                    <div class="table-responsive-md">
                        <table class="table table-hover">
                            <thead class="table-light">
                                <th></th>
                                <th>ID</th>
                                <th>Descrição</th>
                                <th>Preço</th>
                                <th>Quant</th>
                                <th></th>
                            </thead>
                            <tbody>

                                <!-- produto 1 -->
                                <tr>
                                    <td>
                                        <!-- imagem -->
                                        <img class="img-fluid" src="/images/calabresa.png" alt="Calabresa" width="40%">
                                    </td>
                                    <td>
                                        <!-- ID -->
                                        1
                                    </td>
                                    <td>
                                        <!-- descricao -->
                                        <h5>Pizza de Calabresa</h5>
                                        <p>Calabresa, mussarela e cebola</p>
                                    </td> <!-- preco -->
                                    <td>R$24,99</td>
                                    <td>
                                        <!-- quant -->
                                        <input type="number" value="0" min="0" max="99" step="1" />
                                    </td>
                                    <td>
                                        <!-- adicionar -->
                                        <button class="btn btn-success">
                                            <span>Adicionar ao carrinho</span>
                                            <i class="fas fa-shopping-cart"></i>
                                        </button>
                                    </td>
                                </tr>

                                <!-- produto 2 -->
                                <tr>
                                    <td>
                                        <!-- imagem -->
                                        <img class="img-fluid" src="/images/presunto.png" alt="Presunto" width="40%">
                                    </td>
                                    <td>
                                        <!-- ID -->
                                        2
                                    </td>
                                    <td>
                                        <!-- descricao -->
                                        <h5>Pizza de Presunto</h5>
                                        <p>Presunto, mussarela e orégano</p>
                                    </td> <!-- preco -->
                                    <td>R$23,99</td>
                                    <td>
                                        <!-- quant -->
                                        <input type="number" value="0" min="0" max="99" step="1" />
                                    </td>
                                    <td>
                                        <!-- adicionar -->
                                        <button class="btn btn-success">
                                            <span>Adicionar ao carrinho</span>
                                            <i class="fas fa-shopping-cart"></i>
                                        </button>
                                    </td>
                                </tr>

                                <!-- produto 3 -->
                                <tr>
                                    <td>
                                        <!-- imagem -->
                                        <img class="img-fluid" src="/images/mussarela.png" alt="Mussarela" width="40%">
                                    </td>
                                    <td>
                                        <!-- ID -->
                                        3
                                    </td>
                                    <td>
                                        <!-- descricao -->
                                        <h5>Pizza de Mussarela</h5>
                                        <p>Mussarela, tomate e azeitona</p>
                                    </td> <!-- preco -->
                                    <td>R$23,99</td>
                                    <td>
                                        <!-- quant -->
                                        <input type="number" value="0" min="0" max="99" step="1" />
                                    </td>
                                    <td>
                                        <!-- adicionar -->
                                        <button class="btn btn-success">
                                            <span>Adicionar ao carrinho</span>
                                            <i class="fas fa-shopping-cart"></i>
                                        </button>
                                    </td>
                                </tr>
                                <!-- produto 4 -->
                                <tr>
                                    <td>
                                        <!-- imagem -->
                                        <img class="img-fluid" src="/images/mista.png" alt="Mista" width="40%">
                                    </td>
                                    <td>
                                        <!-- ID -->
                                        4
                                    </td>
                                    <td>
                                        <!-- descricao -->
                                        <h5>Pizza Mista</h5>
                                        <p>Calabresa, mussarela, presunto e orégano</p>
                                    </td> <!-- preco -->
                                    <td>R$24,99</td>
                                    <td>
                                        <!-- quant -->
                                        <input type="number" value="0" min="0" max="99" step="1" />
                                    </td>
                                    <td>
                                        <!-- adicionar -->
                                        <button class="btn btn-success">
                                            <span>Adicionar ao carrinho</span>
                                            <i class="fas fa-shopping-cart"></i>
                                        </button>
                                    </td>
                                </tr>

                                <!-- produto 5 -->
                                <tr>
                                    <td>
                                        <!-- imagem -->
                                        <img class="img-fluid" src="/images/margherita.png" alt="Margherita"
                                            width="40%">
                                    </td>
                                    <td>
                                        <!-- ID -->
                                        5
                                    </td>
                                    <td>
                                        <!-- descricao -->
                                        <h5>Margherita</h5>
                                        <p>mussarela, tomate, parmesão, manjericão e orégano</p>
                                    </td> <!-- preco -->
                                    <td>R$24,99</td>
                                    <td>
                                        <!-- quant -->
                                        <input type="number" value="0" min="0" max="99" step="1" />
                                    </td>
                                    <td>
                                        <!-- adicionar -->
                                        <button class="btn btn-success">
                                            <span>Adicionar ao carrinho</span>
                                            <i class="fas fa-shopping-cart"></i>
                                        </button>
                                    </td>
                                </tr>

                                <!-- produto 6 -->
                                <tr>
                                    <td>
                                        <!-- imagem -->
                                        <img class="img-fluid" src="/images/pepperoni.png" alt="Pepperoni" width="40%">
                                    </td>
                                    <td>
                                        <!-- ID -->
                                        6
                                    </td>
                                    <td>
                                        <!-- descricao -->
                                        <h5>Pizza de Pepperoni</h5>
                                        <p>Mussarela, pepperoni e orégano</p>
                                    </td> <!-- preco -->
                                    <td>R$23,99</td>
                                    <td>
                                        <!-- quant -->
                                        <input type="number" value="0" min="0" max="99" step="1" />
                                    </td>
                                    <td>
                                        <!-- adicionar -->
                                        <button class="btn btn-success">
                                            <span>Adicionar ao carrinho</span>
                                            <i class="fas fa-shopping-cart"></i>
                                        </button>
                                    </td>
                                </tr>

                                <!-- produto 7 -->
                                <tr>
                                    <td>
                                        <!-- imagem -->
                                        <img class="img-fluid" src="/images/2q.png" alt="Queijos" width="40%">
                                    </td>
                                    <td>
                                        <!-- ID -->
                                        7
                                    </td>
                                    <td>
                                        <!-- descricao -->
                                        <h5>Pizza de 3 Queijos</h5>
                                        <p>Mussarela, catupiry, parmesão e orégano</p>
                                    </td> <!-- preco -->
                                    <td>R$24,99</td>
                                    <td>
                                        <!-- quant -->
                                        <input type="number" value="0" min="0" max="99" step="1" />
                                    </td>
                                    <td>
                                        <!-- adicionar -->
                                        <button class="btn btn-success">
                                            <span>Adicionar ao carrinho</span>
                                            <i class="fas fa-shopping-cart"></i>
                                        </button>
                                    </td>
                                </tr>

                                <!-- produto 8 -->
                                <tr>
                                    <td>
                                        <!-- imagem -->
                                        <img class="img-fluid" src="/images/alho.png" alt="Alho" width="40%">
                                    </td>
                                    <td>
                                        <!-- ID -->
                                        8
                                    </td>
                                    <td>
                                        <!-- descricao -->
                                        <h5>Pizza de Alho e cebola</h5>
                                        <p>Mussarela, alho, cebola e orégano</p>
                                    </td> <!-- preco -->
                                    <td>R$23,99</td>
                                    <td>
                                        <!-- quant -->
                                        <input type="number" value="0" min="0" max="99" step="1" />
                                    </td>
                                    <td>
                                        <!-- adicionar -->
                                        <button class="btn btn-success">
                                            <span>Adicionar ao carrinho</span>
                                            <i class="fas fa-shopping-cart"></i>
                                        </button>
                                    </td>
                                </tr>

                                <!-- produto 9 -->
                                <tr>
                                    <td>
                                        <!-- imagem -->
                                        <img class="img-fluid" src="/images/napolitana.png" alt="Napolitana"
                                            width="40%">
                                    </td>
                                    <td>
                                        <!-- ID -->
                                        9
                                    </td>
                                    <td>
                                        <!-- descricao -->
                                        <h5>Napolitana</h5>
                                        <p>Mussarela, tomate e orégano</p>
                                    </td> <!-- preco -->
                                    <td>R$23,99</td>
                                    <td>
                                        <!-- quant -->
                                        <input type="number" value="0" min="0" max="99" step="1" />
                                    </td>
                                    <td>
                                        <!-- adicionar -->
                                        <button class="btn btn-success">
                                            <span>Adicionar ao carrinho</span>
                                            <i class="fas fa-shopping-cart"></i>
                                        </button>
                                    </td>
                                </tr>
                                <!-- produto 10 -->
                                <tr>
                                    <td>
                                        <!-- imagem -->
                                        <img class="img-fluid" src="/images/.png" alt="Burger" width="30%">
                                    </td>
                                    <td>
                                        <!-- ID -->
                                        10
                                    </td>
                                    <td>
                                        <!-- descricao -->
                                        <h5>Hambúrguer tradicional</h5>
                                        <p>Carne de Hambúrguer, alface e tomate</p>
                                    </td> <!-- preco -->
                                    <td>R$9,99</td>
                                    <td>
                                        <!-- quant -->
                                        <input type="number" value="0" min="0" max="99" step="1" />
                                    </td>
                                    <td>
                                        <!-- adicionar -->
                                        <button class="btn btn-success">
                                            <span>Adicionar ao carrinho</span>
                                            <i class="fas fa-shopping-cart"></i>
                                        </button>
                                    </td>
                                </tr>

                                <!-- produto 11 -->
                                <tr>
                                    <td>
                                        <!-- imagem -->
                                        <img class="img-fluid" src="/images/.png" alt="X-Burger" width="35%">
                                    </td>
                                    <td>
                                        <!-- ID -->
                                        11
                                    </td>
                                    <td>
                                        <!-- descricao -->
                                        <h5>X-Burger</h5>
                                        <p>Carne de hambúrguer, alface, tomate e queijo</p>
                                    </td> <!-- preco -->
                                    <td>R$12,99</td>
                                    <td>
                                        <!-- quant -->
                                        <input type="number" value="0" min="0" max="99" step="1" />
                                    </td>
                                    <td>
                                        <!-- adicionar -->
                                        <button class="btn btn-success">
                                            <span>Adicionar ao carrinho</span>
                                            <i class="fas fa-shopping-cart"></i>
                                        </button>
                                    </td>
                                </tr>

                                <!-- produto 12 -->
                                <tr>
                                    <td>
                                        <!-- imagem -->
                                        <img class="img-fluid" src="/images/.png" alt="X-Bacon" width="35%">
                                    </td>
                                    <td>
                                        <!-- ID -->
                                        12
                                    </td>
                                    <td>
                                        <!-- descricao -->
                                        <h5>X-Bacon</h5>
                                        <p>Carne de hamburguer, alface, tomate, queijo e bacon</p>
                                    </td> <!-- preco -->
                                    <td>R$13,99</td>
                                    <td>
                                        <!-- quant -->
                                        <input type="number" value="0" min="0" max="99" step="1" />
                                    </td>
                                    <td>
                                        <!-- adicionar -->
                                        <button class="btn btn-success">
                                            <span>Adicionar ao carrinho</span>
                                            <i class="fas fa-shopping-cart"></i>
                                        </button>
                                    </td>
                                </tr>
                                <!-- produto 13 -->
                                <tr>
                                    <td>
                                        <!-- imagem -->
                                        <img class="img-fluid" src="/images/.png" alt="XBacon" width="35%">
                                    </td>
                                    <td>
                                        <!-- ID -->
                                        13
                                    </td>
                                    <td>
                                        <!-- descricao -->
                                        <h5>X-Tudo</h5>
                                        <p>Carne de hamburguer, alface, tomate, queijo, bacon e presunto</p>
                                    </td> <!-- preco -->
                                    <td>R$15,99</td>
                                    <td>
                                        <!-- quant -->
                                        <input type="number" value="0" min="0" max="99" step="1" />
                                    </td>
                                    <td>
                                        <!-- adicionar -->
                                        <button class="btn btn-success">
                                            <span>Adicionar ao carrinho</span>
                                            <i class="fas fa-shopping-cart"></i>
                                        </button>
                                    </td>
                                </tr>

                            </tbody>
                        </table>
                    </div>

                </div>
            </div>

        </div>
    </section>
    <!--/fim HOME -->

    <%- include ('partials/footer.ejs') %>
</body>

</html>