<!DOCTYPE html>
<html lang="pt-br">

<head>
    <!-- Meta tags necessarias ao funcionamento do bootstrap -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

    <!-- Font Awesome -->
    <script src="https://kit.fontawesome.com/fdb2e39f6f.js" crossorigin="anonymous"></script>

    <!-- Estilo customizado -->
    <link rel="stylesheet" href="./styles.css">

    <title> Home - Mais Sabor</title>

    <!-- Logo da barra de enderecos do navegador -->
    <link rel="icon" href="#">
</head>

<body>

    <header>
        <!-- inicio CABECALHO-->
        <nav class="navbar navbar-light navbar-expand-sm fixed-top bg-vermelho navbar-transparente shadow">
            <div class="container">

                <!-- logo -->
                <a href="#" class="navbar-brand">
                    <img src="/images/logo.png" width="50">
                </a>

                <!-- menu hamburguer -->
                <button class="navbar-toggler" data-toggle="collapse" data-target="#nav-principal">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <!-- menu navegacao -->
                <div class="collapse navbar-collapse" id="nav-principal">
                    <ul class="navbar-nav ml-auto">

                        <li class="nav-item">
                            <a class="nav-link active" href="#">Home</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="/quem-somos.ejs">Quem Somos</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="/contato.ejs">Contato</a>
                        </li>

                        <li class="nav-item divisor"></li><!-- divisor -->

                        <li class="nav-item">
                            <a href="/cardapio.ejs" class="nav-link">Cardápio</a>
                        </li>

                        <li class="nav-item">
                            <a href="" class="nav-link">
                                <i class="fas fa-shopping-cart fa-lg"></i>
                                <span class="badge badge-secondary">0</span>
                            </a>
                        </li>

                    </ul>
                </div>

            </div>
        </nav>
    </header>
    <!--/fim CABECALHO-->

    <section class="d-flex" id="home">
        <!-- inicio HOME -->
        <div class="container align-self-center">
            <div class="row capa">

                <div class="col-md-12">
                    <h1><img src="/images/logo.png" width="30%"></h1>
                    <a href="#" class="btn btn-lg btn-custom bg-vermelho">
                        faça já seu pedido
                    </a>

                </div>
            </div>
        </div>
    </section>
    <!--/fim HOME -->

    <section class="shadow" id="produtos">
        <!-- inicio PRODUTOS -->
        <div class="container">
            <div class="row">

                <!-- imagens -->
                <div class="col-md-6">

                    <!-- coluna 1 -->
                    <div class="row album-produtos">

                        <div class="col-md-6">
                            <img src="https://images.unsplash.com/photo-1477617722074-45613a51bf6d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1000&q=80"
                                class="img-fluid rounded d-none d-md-block">
                        </div>
                        <div class="col-md-6">
                            <img src="https://www.suafranquia.com/views/sources/images/conteudo/principal/ce887360c28497cb5c61adfee70abbdc.png"
                                class="img-fluid d-none d-md-block">
                        </div>

                    </div>

                    <!-- coluna 2 -->
                    <div class="row album-produtos">

                        <div class="col-md-6">
                            <img src="https://images.unsplash.com/photo-1487004121828-9fa15a215a7a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60"
                                class="img-fluid d-none d-md-block">
                        </div>
                        <div class="col-md-6">
                            <img src="https://images.unsplash.com/photo-1532634922-8fe0b757fb13?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60"
                                class="img-fluid d-none d-md-block">
                        </div>

                    </div>
                </div>

                <!-- textos -->
                <div class="col-md-6">
                    <h2 class="text-vermelho">O que o nosso restaurante tem?</h2>

                    <h3 class="text-vermelho">Wi-fi liberado
                        <i class="fas fa-wifi fa-xs"></i>
                    </h3>
                    <p>
                        Aqui ninguém fica desconectado. Wi-fi liberado para você tirar aquela selfie e postar no Insta !
                    </p>

                    <h3 class="text-vermelho">Cerveja estupidamente gelada
                        <i class="fas fa-beer fa-xs"></i>
                    </h3>
                    <p>
                        Se tem comida boa, não pode faltar cerveja gelada. E aqui no restaurante Mais Sabor, cerveja é o
                        que não falta !
                    </p>

                    <h3 class="text-vermelho">Música da melhor qualidade
                        <i class="fas fa-guitar fa-xs"></i>
                    </h3>
                    <p>
                        E para animar a sua noite, música ao vivo ! Os melhores artistas da região você encontra aqui.
                    </p>
                </div>
            </div>
    </section>
    <!--/fim PRODUTOS-->

    <section class="d-flex" id="depoimentos">
        <!-- inicio DEPOIMENTOS -->

        <div class="container align-self-center">
            <h1 id="clientes">Veja o que dizem nossos clientes</h1>

            <div class="row">

                <!-- cartao 1 -->
                <div class="col-lg-4">
                    <div class="card p-3 text-right shadow">
                        <blockquote class="blockquote mb-0">
                            <p>
                                A melhor pizza da região !
                            </p>
                            <footer class="blockquote-footer">
                                <small class="text-muted">
                                    Beatriz Batista
                                </small>
                            </footer>
                        </blockquote>
                    </div>
                </div>

                <!-- cartao 2 -->
                <div class="col-lg-4">
                    <div class="card p-3 text-right shadow">
                        <blockquote class="blockquote mb-0">
                            <p>
                                Vende fiado e toca rock 10/10.
                            </p>
                            <footer class="blockquote-footer">
                                <small class="text-muted">
                                    José Ricardo
                                </small>
                            </footer>
                        </blockquote>
                    </div>

                    <!-- cartao 3 -->
                    <div class="card p-3 text-right shadow">
                        <blockquote class="blockquote mb-0">
                            <p>
                                Foi um prazer tocar lá !
                            </p>
                            <footer class="blockquote-footer">
                                <small class="text-muted">
                                    Humberto Gessinger
                                </small>
                            </footer>
                        </blockquote>
                    </div>
                </div>

                <!-- cartao 4 -->
                <div class="col-lg-4">
                    <div class="card p-3 text-right shadow">
                        <blockquote class="blockquote mb-0">
                            <p>
                                O X-Tudo realmente tem TUDO !!
                            </p>
                            <footer class="blockquote-footer">
                                <small class="text-muted">
                                    Ana Maria
                                </small>
                            </footer>
                        </blockquote>
                    </div>
                </div>

            </div>
        </div>
    </section>
    <!--/fim DEPOIMENTOS -->

    <footer id="rodape">
        <!-- inicio RODAPE -->
        <div class="container">
            <div class="row">

                <div class="col-md-8">
                    <span>&copy; 2020 - Equipe TCC (Todos Contra o Corona)</span>
                </div>

                <div class="col-md-4 d-flex justify-content-end">
                    <a href="">
                        <i class="fab fa-facebook fa-lg"></i>
                    </a>
                    <a href="" class="ml-2">
                        <i class="fab fa-twitter fa-lg cor-principal"></i>
                    </a>
                    <a href="" class="ml-2">
                        <i class="fab fa-instagram fa-lg"></i>
                    </a>
                    <a href="" class="ml-2">
                        <i class="fab fa-youtube fa-lg"></i>
                    </a>
                </div>
            </div>
        </div>
    </footer>
    <!--/fim RODAPE -->

    <!-- Componentes JavaScript -->
    <!-- jQuery, Popper.js e Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
        integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous">
    </script>

</body>

</html>