<%- include ('partials/head.ejs') %>

<body>

    <%- include ('partials/header.ejs') %>

    <section class="d-flex" id="home">
        <!-- inicio HOME -->
        <div class="container align-self-center">
            <div class="row capa">

                <div class="col-md-12">
                    <h1><img src="/images/logo.png" width="30%"></h1>
                    <a href="#" class="btn btn-lg btn-custom bg-vermelho">
                        faça já seu pedido
                    </a>

                </div>
            </div>
        </div>
    </section>
    <!--/fim HOME -->

    <section class="shadow" id="produtos">
        <!-- inicio PRODUTOS -->
        <div class="container">
            <div class="row">

                <!-- imagens -->
                <div class="col-md-6">

                    <!-- coluna 1 -->
                    <div class="row album-produtos">

                        <div class="col-md-6">
                            <img src="https://images.unsplash.com/photo-1477617722074-45613a51bf6d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1000&q=80"
                                class="img-fluid rounded d-none d-md-block">
                        </div>
                        <div class="col-md-6">
                            <img src="https://www.suafranquia.com/views/sources/images/conteudo/principal/ce887360c28497cb5c61adfee70abbdc.png"
                                class="img-fluid d-none d-md-block">
                        </div>

                    </div>

                    <!-- coluna 2 -->
                    <div class="row album-produtos">

                        <div class="col-md-6">
                            <img src="https://images.unsplash.com/photo-1487004121828-9fa15a215a7a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60"
                                class="img-fluid d-none d-md-block">
                        </div>
                        <div class="col-md-6">
                            <img src="https://images.unsplash.com/photo-1532634922-8fe0b757fb13?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60"
                                class="img-fluid d-none d-md-block">
                        </div>

                    </div>
                </div>

                <!-- textos -->
                <div class="col-md-6">
                    <h2 class="text-vermelho">O que o nosso restaurante tem?</h2>

                    <h3 class="text-vermelho">Wi-fi liberado
                        <i class="fas fa-wifi fa-xs"></i>
                    </h3>
                    <p>
                        Aqui ninguém fica desconectado. Wi-fi liberado para você tirar aquela selfie e postar no Insta !
                    </p>

                    <h3 class="text-vermelho">Cerveja estupidamente gelada
                        <i class="fas fa-beer fa-xs"></i>
                    </h3>
                    <p>
                        Se tem comida boa, não pode faltar cerveja gelada. E aqui no restaurante Mais Sabor, cerveja é o
                        que não falta !
                    </p>

                    <h3 class="text-vermelho">Música da melhor qualidade
                        <i class="fas fa-guitar fa-xs"></i>
                    </h3>
                    <p>
                        E para animar a sua noite, música ao vivo ! Os melhores artistas da região você encontra aqui.
                    </p>
                </div>
            </div>
    </section>
    <!--/fim PRODUTOS-->

    <section class="d-flex" id="depoimentos">
        <!-- inicio DEPOIMENTOS -->

        <div class="container align-self-center">
            <h1 id="clientes">Veja o que dizem nossos clientes</h1>

            <div class="row">

                <!-- cartao 1 -->
                <div class="col-lg-4">
                    <div class="card p-3 text-right shadow">
                        <blockquote class="blockquote mb-0">
                            <p>
                                A melhor pizza da região !
                            </p>
                            <footer class="blockquote-footer">
                                <small class="text-muted">
                                    Beatriz Batista
                                </small>
                            </footer>
                        </blockquote>
                    </div>
                </div>

                <!-- cartao 2 -->
                <div class="col-lg-4">
                    <div class="card p-3 text-right shadow">
                        <blockquote class="blockquote mb-0">
                            <p>
                                Vende fiado e toca rock 10/10.
                            </p>
                            <footer class="blockquote-footer">
                                <small class="text-muted">
                                    José Ricardo
                                </small>
                            </footer>
                        </blockquote>
                    </div>

                    <!-- cartao 3 -->
                    <div class="card p-3 text-right shadow">
                        <blockquote class="blockquote mb-0">
                            <p>
                                Foi um prazer tocar lá !
                            </p>
                            <footer class="blockquote-footer">
                                <small class="text-muted">
                                    Humberto Gessinger
                                </small>
                            </footer>
                        </blockquote>
                    </div>
                </div>

                <!-- cartao 4 -->
                <div class="col-lg-4">
                    <div class="card p-3 text-right shadow">
                        <blockquote class="blockquote mb-0">
                            <p>
                                O X-Tudo realmente tem TUDO !!
                            </p>
                            <footer class="blockquote-footer">
                                <small class="text-muted">
                                    Ana Maria
                                </small>
                            </footer>
                        </blockquote>
                    </div>
                </div>

            </div>
        </div>
    </section>
    <!--/fim DEPOIMENTOS -->
    <%- include ('partials/footer.ejs') %>
</body>

</html>