<%- include ('partials/head.ejs') %>

<body>

    <%- include ('partials/header.ejs') %>

    <section id="home">
        <!-- inicio HOME -->
        <div class="container">
            <div class="row">

                <div class="col-md-12">

                    <div class="titulo-home">
                        <h2>Quem somos</h2>
                    </div>

                </div>

            </div>

            <div class="row">
                <div class="subtitle">
                    <p>
                        Eleito o melhor restaurante da cidade por 3 anos seguidos, a Mais Sabor tem orgulho de servir a
                        população de João Monlevade desde 1999. Buscando inovar e se destacar no ramo alimentício,
                        sempre pensando sempre no melhor para nossos clientes
                    </p>
                </div>
            </div>

            <br><br>

            <div class="row">
                <div class="col-md-4">
                    <i class="far fa-eye"></i>
                    <h5>Olhar visionário</h5>
                    <p class="text">
                        Visando inovar e trazer novidades à nossos clientes, nós do restaurante Mais Sabor estamos
                        sempre buscando oferecer o melhor serviço e continuar atendendo João Monlevade, cidade que
                        servimos há mais de 20 anos.
                    </p>
                </div>
                <div class="col-md-4">
                    <i class="fas fa-chart-line"></i>
                    <h5>Crescimento no mercado</h5>
                    <p class="text">
                        Servindo João Monlevade desde 1999, o restaurante Mais Sabor está em alta crescente no mercado,
                        eleito o melhor restaurante de João Monlevade nos últimos 3 anos, o restaurante Mais Sabor lhe
                        garante bom atendimento, uma boa refeição e um ambiente descontraído com música de qualidade.
                    </p>
                </div>
                <div class="col-md-4">
                    <i class="far fa-gem"></i>
                    <h5>Nossos valores</h5>
                    <p class="text">
                        Priorizamos sempre o bom atendimento e comodidade à nossos clientes, oferecemos todo o conforto
                        em nosso ambiente, além da praticidade no pedido online que é simples e rápido de ser feito.
                    </p>
                </div>
            </div>

        </div>

    </section>
    <!--/fim HOME -->
    <%- include ('partials/footer.ejs') %>
</body>

</html>