/*
Layout
*/

html, body, #home{
    height: 100%;
    overflow-x: hidden;
}

#depoimentos{
    min-height: 100%;
}

body{
    background: url(images/bg01.png);
    background-attachment: fixed;
    font-family: Helvetica, Arial, sans-serif;
}

.borda{
    border: 1px solid red;
}

/* Fontes adicionais
--------------------------------------------------*/

@font-face{
    font-family: chunkfive;
    src: url(fonts/Chunkfive\ Ex.ttf);
}

@font-face{
    font-family: pacifico;
    src: url(fonts/Pacifico.ttf)
}

/* Paleta de cores (retiradas da identidade visual)
---------------------------------------------------*/

/* text */
.text-vermelho{
    color: #CB2636;
    text-align: left;
    font-family: chunkfive;
    text-shadow: white 1px 1px;
}

.text-laranja{
    color: #F29744;
}

.text-marrom-escuro{
    color: #3d2314;
}

.text-marrom-claro{
    color: #f9f0de;
}

/* background */
.bg-vermelho{
    background: #CB2636;
}

.bg-laranja{
    background: #F29744;
}

.bg-marrom-escuro{
    background: #3d2314;
}

.bg-marrom-claro{
    background: #f9f0de;
}

/* Barra de navegacao
-----------------------------*/
nav.navbar-transparente{
    background: rgb(203, 38, 54, 0.9);
    padding: 5px 0;
}

.navbar-light .navbar-nav .nav-link{
    color: white;
}

.divisor{
    width: 1px;
    background: white;
    margin: 12px 15px;
}

.dropdown-item.active, .dropdown-item:active {
    background-color: #CB2636;
}

/* Home
----------------------------*/
.capa{
    text-align: center;
}

.btn-custom{
    color: white;
    border-radius: 90px;
    font-family: chunkfive;
    text-shadow: rgba(60, 0, 0, 0.671) 1px 1px;
    font-size: 20pt;
    transition: background 0.4s, color 0.4s;
    padding: 10px 20px;
}

.btn-custom:hover{
    color: white;
    background: #F29744;
}

.btn-roxo:hover{
    background: #6207e3;
    color: white;
}

/* Estrutura de conteudos
-----------------------------*/
#produtos{
    background: #f9f0de;
    padding: 20px 0;
}

.album-produtos{
    padding: 10px 0;
}

#depoimentos{
    padding: 20px 0;
}

.card{
    margin-bottom: 20px;
    background-color: #f9f0de;
}

.blockquote-footer {
    display: block;
    font-size: 80%;
    color: #6757;
}

/* Tipografia
----------------------*/
h1{
    font-weight: normal;
    letter-spacing: -0.05em;
    margin-bottom: 50px;
}

h2{
    font-size: 3em;
    font-weight: normal;
    letter-spacing: -0.04em;
}

h3{
    font-size: 1.8em;
    font-weight: normal;
    letter-spacing: -0.04em;
}

#clientes {
    color: #CB2636;
    font-family: pacifico;
    text-shadow: rgba(60, 0, 0, 0.671) 1px 1px;
}

#depoimentos h2{
    text-align: justify;
    margin-bottom: 20px;
}

/*Rodape
--------------------------*/
#rodape{
    background: #CB2636; 
    padding: 43px 0px 23px 0px;
    color: #fff;
}

#rodape a{
    color: #fff;
    padding: 0 10px;
}

/* Media Queries
------------------------*/

/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) { 
    .btn-custom{
        margin: 10px;
    }
    nav.navbar-transparente{
        padding-left: 15px;
        padding-right: 15px;
    }
 }

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) { 
    h1{
        font-size: 3em;
    }
    .btn-custom{
        margin: 10px;
    }
 }

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) { 
    h1{
        font-size: 4em;
    }
 }

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) { 
    h1{
        font-size: 5em;
    }
 }

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 
    h1{
        font-size: 6em;
    }
 }